<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/{id}/update(id=${user.getId()})}" th:object="${user}">
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username" required/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="password" th:field="*{password}" id="password" required/>
    <br/>
    <label for="userRoles">Roles: </label>
    <p th:each="role : ${userRoles}">
        <input th:text="${role.getKey()}" type="checkbox" th:checked="${role.getValue()}" name="userRoles" id="userRoles" th:value="${role.getKey()}"/>
    </p>
    <input type="submit" value="Update">
</form>
<br/>
<form th:method="DELETE" th:action="@{/admin/{id}/remove(id=${user.getId()})}" th:object="${user}">
    <input type="submit" value="Remove">
</form>
<br/>
<button>
    <a th:href="@{/logout}">Logout</a>
</button>
</body>
</html>