<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/create}" th:object="${user}">
    <label for="username">Username: </label>
    <input type="text" th:field="*{username}" id="username" required/>
    <br/>
    <label for="password">Password: </label>
    <input type="password" th:field="*{password}" id="password" required/>
    <br/>
    <label for="listRoles">Roles: </label>
    <p th:each="role : ${listRoles}">
        <input th:text="${role}" type="checkbox" name="listRoles" id="listRoles" th:value="${role}"/>
    </p>
    <input type="submit" value="Create!">
</form>
<br/>
<button>
    <a th:href="@{/logout}">Logout</a>
</button>
</body>
</html>