<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark">
        <div class="col-md-11" th:text="${loggedUser.getUsername() + ' with roles: ' + loggedUser.getRolesToString()}"
             style="color: white">
        </div>
        <div class="col-md-1">
            <form th:method="GET" th:action="@{/logout}">
                <input class="btn btn-dark" type="submit" value="Logout">
            </form>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <a th:href="@{/admin}" class="list-group-item list-group-item-action active">Admin</a>
                <a th:href="@{/user}" class="list-group-item list-group-item-action">User</a>
            </div>
        </div>
        <div class="col-md-10">
            <h1>Admin panel</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#usertable" data-toggle="tab">User tables</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#newuser" data-toggle="tab">Create user</a>
                </li>
            </ul>
            <div class="card card-default"
                 style="border-width: 1px; border-style: solid; border-color: rgb(190,190,190); border-radius: 5px">
                <div class="card-header" style="font-weight: bold">All users</div>
                <div class="card-body">
                    <div class="tab-content" role="tablist">
                        <div role="tabpanel" style="box-sizing: border-box; padding: 30px" class="tab-pane active"
                             id="usertable">
                            <table class="table table-striped" id="allUsersTable">
                                <thead class="table">
                                <tr>
                                    <th>ID</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                </tr>
                            </table>
                        </div>
                        <div role="tabpanel" style="box-sizing: border-box; padding: 30px" class="tab-pane"
                             id="newuser">
                            <div style="text-align: center" class="form-group">
                                <form class="text-center">
                                    <label for="firstName">First name</label>
                                    <br/>
                                    <input class="user" type="text" id="firstName" required/>
                                    <br/>
                                    <label for="lastName">Last name</label>
                                    <br/>
                                    <input class="user" type="text" id="lastName" required/>
                                    <br/>
                                    <label for="age">Age</label>
                                    <br/>
                                    <input class="user" type="text" id="age" required/>
                                    <br/>
                                    <label for="username">Username</label>
                                    <br/>
                                    <input class="user" type="text" id="username" required/>
                                    <br/>
                                    <label for="password">Password</label>
                                    <br/>
                                    <input class="user" type="password" id="password" required/>
                                    <br/>
                                    <span>Roles:</span>
                                    <br/>
                                    <select required multiple style="width: 200px" size="2" name="listRoles"
                                            id="listRoles">
                                        <option th:each="role : ${listRoles}" th:value="${role.getRole()}"
                                                th:id="${role.getId()}"
                                                th:text="${role.getRoleName()}"
                                                th:selected="${role.getRole().equals('ROLE_USER')}"></option>
                                    </select>
                                    <br/>
                                    <br/>
                                    <input type="submit" class="btn btn-success" value="Add new user"
                                           onclick="createUser()">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalDiv"></div>
<br/>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/static/index.js"></script>
</body>
</html>